/*  your css code here. If applicable */
h1{
	text-align: center;
	font-weight: 400;
}
h1 span{
	color: blue;
}
.form-group{
	width: 900px;
	margin: 5px auto 50px;
}
label{
	display: block;
	margin-top: 15px;
}
input{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border-radius: 4px;
}
#submit{
    margin-top: 20px;
	padding: 10px 20px;
	background: #0d6efd;
	border: none;
	color: #ffff;
	border-radius: 5px;
	cursor: pointer;
}
table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 40px;
}
th, td{
	padding: 12px;
	text-align: left;
}
.delete{
	background: #dc3545;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
}